$blue-6: #1890ff;
$purple-6: #722ed1;
$cyan-6: #13c2c2;
$green-6: #52c41a;
$magenta-6: #eb2f96;
$red-6: #f5222d;
$orange-6: #fa8c16;
$yellow-6: #fadb14;
$volcano-6: #fa541c;
$geekblue-6: #2f54eb;
$lime-6: #a0d911;
$gold-6: #faad14;
