@import 'colors';

$primary-color: $blue-6;
$success-color: $green-6;
$error-color: $red-6;

// Background color for `<body>`
$body-background: #fff;
// Base background color for most components
$component-background: #fff;

$heading-color: fade(#000, 85%);
$text-color: fade(#000, 65%);
$text-color-secondary: fade(#000, 45%);
$border-radius-base: 4px;
$border-radius-sm: 2px;

$font-size-base: 14px;

// Border
$border-color-base: hsl(0, 0, 85%);
$border-color-split: hsl(0, 0, 91%);
$border-width-base: 1px; // width of the border for a component
$border-style-base: solid; // style of a components border

// Disabled states
$disabled-color: fade(#000, 25%);

// Media queries breakpoints
// Extra small screen / phone
$screen-xs: 480px;
$screen-xs-min: $screen-xs;

// Small screen / tablet
$screen-sm: 576px;
$screen-sm-min: $screen-sm;

// Medium screen / desktop
$screen-md: 768px;
$screen-md-min: $screen-md;

// Large screen / wide desktop
$screen-lg: 992px;
$screen-lg-min: $screen-lg;

// Extra large screen / full hd
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

// Extra extra large screen / large descktop
$screen-xxl: 1600px;
$screen-xxl-min: $screen-xxl;

// Avatar
// ---
$avatar-size-base: 32px;
$avatar-size-lg: 40px;
$avatar-size-sm: 24px;
$avatar-font-size-base: 18px;
$avatar-font-size-lg: 24px;
$avatar-font-size-sm: 14px;
$avatar-bg: #ccc;
$avatar-color: #fff;
$avatar-border-radius: $border-radius-base;
