<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A admin dashboard application demo built upon Ant Design and Dva.js">
    <link rel="icon" type="image/png" href="/public/favicon.png">
    <title>react-admin-template</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
