@import '~antd/lib/style/themes/default.less';

@header-hover-bg: rgba(0, 0, 0, 0.025);

.global-header {
  position: relative;
  height: @layout-header-height;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  .ant-tabs.ant-tabs-card {
    display: inline-block;
    width: calc(100% - 600px);
    height: 100%;
    margin-left: 300px;
    margin-bottom: 0;

    .ant-tabs-bar {
      border: none;
      margin-bottom: 0;
    }

    .ant-tabs-nav-wrap {
      padding: 0;
      margin-top: 28px;
    }

    .ant-tabs-tab-prev,
    .ant-tabs-tab-next  {
      height: 32px;
      margin-top: 28px;
    }

    .ant-tabs-nav-container {
      height: 100%;
      font-size: 12px;
      margin-bottom: 0;
      transition: all .3s;
      user-select: none;
    }

    .ant-tabs-top-content {
      display: none;
    }

    .ant-tabs-tab {
      width: 140px;
      height: 32px;
      background: transparent;
      border: none;
      line-height: 28px;
      text-align: left;
      position: relative;
      border-radius: 3px 3px 0 0;
      padding: 0 16px 0 4px;
      transition: color .3s;
      margin: 0 20px;
      color: @white;
    }

    .ant-tabs-tab:first-child {
      margin-left: 30px;
    }

    .ant-tabs-tab:before {
      content: "";
      position: absolute;
      left: -20px;
      top: 0;
      transform: skewX(-20deg);
      width: 100%;
      height: 100%;
      border-top-left-radius: 4px;
    }

    .ant-tabs-tab:after {
      content: "";
      position: absolute;
      right: -20px;
      top: 0;
      transform: skewX(20deg);
      width: 100%;
      height: 100%;
      border-top-right-radius: 4px;
    }

    .ant-tabs-tab:after,
    .ant-tabs-tab:before {
      background: @card-background;
    }

    .ant-tabs-tab.ant-tabs-tab-active:after,
    .ant-tabs-tab.ant-tabs-tab-active:before {
      z-index: 2;
      background: @primary-color;
    }

    .ant-tabs-tab.ant-tabs-tab-active > div {
      color: @white;
    }

    .ant-tabs-tab > span,
    .ant-tabs-tab > div {
      position: relative;
      z-index: 3;
      height: 32px;
      line-height: 32px;
      color: #fff;
    }

    .ant-tabs-tab > span > span,
    .ant-tabs-tab > div > span {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    .ant-tabs-tab .anticon-close {
      font-size: 12px;
      width: 24px;
      position: absolute;
      margin: 0;
      right: -30px;
      height: 32px;
      padding-top: 9px;
    }
  }
}

.global-header__right {
  float: right;
  height: 100%;
  margin-right: 15px;
  overflow: hidden;
}

.global-header__action {
  display: inline-block;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.3s;

  > i {
    color: @text-color;
    vertical-align: middle;
  }

  &:hover {
    background: @header-hover-bg;
  }
}

.global-header__menu {
  .anticon {
    margin-right: 8px;
  }

  .ant-dropdown-menu-item {
    min-width: 160px;
  }
}

.city-global-header__account {
  color: #626262;

  > i {
    padding: 0 10px;
    color: #b6b6b6;
  }
}


.global-header__account {
  .ant-avatar {
    margin: ~'calc((@{layout-header-height} - 24px) / 2)' 0;
    margin-right: 8px;
    color: @primary-color;
    vertical-align: top;
    background: rgba(255, 255, 255, 0.85);
  }
}


